<!DOCTYPE html>
<html>
<head>
    <title>Mi Proyecto Web Django</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div>
        <h1>Mi Proyecto Web Django</h1>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'insertar_datos' %}">Insertar Datos</a></li>
            <li><a href="{% url 'buscar' %}">Buscar en la BD</a></li>
        </ul>
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
